<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>662A1A67-C15F-4668-B170-7C43E8B06906.playgroundpage</string>
		<string>F2BCF372-5FA8-4C98-9DB1-3194705593D1.playgroundpage</string>
	</array>
</dict>
</plist>
